    /*!
    *
    * Custom Stylesheet for the job grading system
    *
    */

    html,body{
        background-color: #F8F8F8;
        line-height: 1.2rem;
        }
        .navgrp{
        position:absolute;
        right:1em;
        }
        form#jogs>#knowhow,#problemsolving,#accountability,#intersect{
            display: none;
        }
        .alert{
            display: none;
        }
        .test{
            background-color: #F8F8F8;
            position:sticky;
            top: 0;
            padding: 5px;
            z-index: 1000;
        }
        .gone{
            display: none;
        }
        .dets{
            font-size: 1px !important;
            font-weight: normal;
            text-align:left;
    
        }
        .testpos{
            background-color:#e98f8e !important;
            width: 10em;
            height: 4.5em;
            box-sizing: border-box;
            float: left;
            top:20px;
            z-index: 100000;
        }
        .bread{
            box-sizing: border-box;
            width: 10em;
            height: 4.5em;
            bottom:0;
            float: right;
        }
    