/*!
 * 
 * Custom Stylesheet for the job grading system
 * 
 */

 html,body{
  background-color: #F8F8F8;
  line-height: 1.2rem;
 }
 .navgrp{
  position:absolute;
  right:1em;
 }
 form#jogs>#knowhow,#problemsolving,#accountability,#intersect{
 	display: none;
 }
 .alert{
    display: none; 
 }